<!DOCTYPE html>
<html>
    <head>
        <title>Payment Form</title>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <dl class="i-data-list">
            <dt>{% trans %}First name{% endtrans %}</dt>
            <dd>{{ registration.first_name }}</dd>
            <dt>{% trans %}Last name{% endtrans %}</dt>
            <dd>{{ registration.last_name }}</dd>
            <dt>{% trans %}Total amount{% endtrans %}</dt>
            <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
            <dt></dt>
            <dd>
                <button
                    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button"
                    role="link"
                >
                    Checkout
                </button>
            </dd>
        </dl>
        <script>
         (function() {
             try {
                 var stripe = Stripe({{ pub_key }});

                 var checkoutButton = document.getElementById('checkout-button');
                 checkoutButton.addEventListener('click', function() {
                     stripe.redirectToCheckout({
                         sessionId: '{{ session_id }}'
                     }).then(function(result) {
                         if (result.error) {
                             console.log(result.error.message);
                         }
                     }).catch(function(error) {
                         if (result.error) {
                             console.log(error)
                         }
                     });
                 });
             } catch (error) {
                 console.log(error);
             }
         })();


        </script>
    </body>
</html>
